table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* table tr:nth-child(even){background-color: #f2f2f2;} */
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  /* table td{
    text-align: left;
  } */

  .btn-container{
    margin: auto;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }
  .btn-container button, span{
    border: none;
    padding: 0.5rem 1rem;
    background-color: #04AA6D;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  .btn-container button:disabled{
    cursor: not-allowed;
    background-color: #21f5a7;
    color: rgb(18, 15, 15);
  }
  